/* Default classes */

/* Body class */
.gss-processed {
  /* Styles go here */
}

/* Search form */
.gss-search-form {
  /* Styles go here */
}

/* Search block form */
.gss-search-block-form {
  /* Styles go here */
}

/* Search results */
.gss-search-results {
  /* Styles go here */
}
